#para ignorar archivos de la carpeta .vscode
/**/.vscode/

#ignorar todos los ejecutables
*.exe

#ignorar archivos .txt
*.txt

#aqui oculto todos los .dat
*.dat

#aqui oculto todas las imagenes
*.jpeg
*.png
